<form action="http://127.0.0.1:5000/user/adduser" method="post">

<div class="mb-3">
  <label for="fname" class="form-label"></label>
  <input type="text" class="form-control" name="fname" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Help text</small>
  <button type="submit">enviar</button>
</div>

</form>