<h1>HOLA SOY UN HBS</h1>

<form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form>

        <form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form>
        <form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form>
        <form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form>
        <form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form>
        <form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form>
        <form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form>
        <form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form><form action="http://127.0.0.1:5000/auth/login" method="POST">
        <label for="fname">nombre</label>
        <input name="fname" type="text" placeholder="nombre">
        <label for="lname">clave</label>
        <input type="text" name="lname">
        <button type="submit">enviar</button>
        </form>