<div class="container">
        <div class="row">
                <div class="col-md-10 offset-md-1">
                        <h1>login</h1>
                        <div class="form-control mb-3 ">
                                <form action="http://127.0.0.1:5000/auth/login" method="POST">
                                        <label for="mail"></label>
                                        <input name="mail" type="text" placeholder="Correo electronico">
                                        <label for="password">Constraseña</label>
                                        <input type="password" name="password">
                                        <br>
                                        <button class="btn btn-primary mt-3" type="submit">Iniciar Sesión</button>
                                </form>
                        </div>
                </div>
        </div>
</div>