<div class="container">
        <div class="row justify-content-center">
                <div class="col-md-8">
                        <h1>login</h1>
                        <div class="form-control mb-3 ">
                                <form action="http://localhost:5000/auth/login" method="POST">
                                 <input type="hidden" name="_csrf" value="{{csrfToken}}" >
                                        <label for="mail">Ingrese el correo</label>
                                        <input class="form-control mb-3" name="mail"value="soyox2037@gmail.com"  type="text"
                                                placeholder="Correo electronico">
                                        <label for="password">Constraseña</label>
                                        <input class="form-control mb-3" value="123123" type="password" name="password"
                                                placeholder="Contraseña">
                                        <button class="btn btn-primary mt-3 mb-3" type="submit">Iniciar Sesión</button>
                                </form>

                        </div>
                </div>
        </div>
</div>