<nav class="navbar navbar-light bg-dark  ">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class='img-fluid' src="/assets/logo.jpg" alt="" width="50" height="50">
      </a>
          <li class="nav-item">
      <a class="nav-link active" href="/user">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/user/adduser">Agregar</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/auth/singup">Singup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/login">login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/logout">Logout</a>
    </li>
    </div>
  </nav>
 
